<!-- Footer -->
<footer id="page-footer" class="bg-white">
    <div class="content content-boxed">
        <!-- Footer Navigation -->
        <div class="row push-30-t items-push-2x">
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Integrated Genome Browser</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="{{ site.github.url }}">Home</a>
                    </li>
                    <li>
                        <a class="font-w600" href="{{ site.github.url }}/about">About</a>
                    </li>
                    <li>
                        <a class="font-w600" href="{{ site.github.url }}/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                <ul class="list list-simple-mini font-s13">
                    <li>
                        <a class="font-w600" href="http://bioviz.org/igb/help.html" target="_blank">Get Help</a>
                    </li>
                    <li>
                        <a class="font-w600" href="{{ site.github.url }}/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a class="font-w600" href="{{ site.github.url }}/terms-and-conditions">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 class="h5 font-w600 text-uppercase push-20">Contact</h3>

                <div class="font-s13 push">
                    {% include address.html %}
                    <abbr title="Phone">P:</abbr> {% include phone.html %}
                </div>
                <div class="font-s13">
                    <i class="si si-envelope-open"></i> {% include email.html %}
                </div>
            </div>
        </div>
        <!-- END Footer Navigation -->

        <!-- Copyright Info -->
        <div class="font-s12 push-20 clearfix">
            <hr class="remove-margin-t">

            <div class="pull-left">
                <a class="font-w600" href="http://lorainelab.org" target="_blank">Loraine Lab</a> &copy; <span
                    class="js-year-copy"></span>
            </div>
        </div>
        <!-- END Copyright Info -->
    </div>
</footer>
<!-- END Footer -->

<script src="{{ site.github.url }}/assets/js/core/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/jquery.slimscroll.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/jquery.scrollLock.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/jquery.appear.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/jquery.countTo.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/jquery.placeholder.min.js"></script>
<script src="{{ site.github.url }}/assets/js/core/js.cookie.min.js"></script>
<script src="{{ site.github.url }}/assets/js/app.js"></script>

<script>
    $(function () {
        App.initHelpers(['appear', 'appear-countTo']);
    });
</script>