<header id="header-navbar" class="content-mini content-mini-full">
    <div class="content-boxed">
        <!-- Main Header Navigation -->
        <ul class="js-nav-main-header nav-main-header pull-right">
            <li class="text-right hidden-md hidden-lg">
                <!-- Toggle class helper (for main header navigation in small screens), functionality initialized in App() -> uiToggleClass() -->
                <button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header"
                        data-class="nav-main-header-o" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </li>
            <li>
                <a class="active" href="#">Home</a>
            </li>
            <li>
                <a class="nav-submenu" href="javascript:void(0)">Pages</a>
                <ul>
                    <li>
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Quick Starts</a>
                    </li>
                    <li>
                        <a href="#">Guides</a>
                    </li>
                    <li>
                        <a href="#">Community Resources</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <!-- END Main Header Navigation -->

        <!-- Header Navigation Left -->
        <ul class="nav-header pull-left">
            <li class="header-content">
                <a class="h5" href="frontend_home.html">
                    <span class="h4 font-w600 text-white">IGB</span>
                </a>
            </li>
        </ul>
        <!-- END Header Navigation Left -->
    </div>
</header>