<div class="bg-primary-dark">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-20-t push-20 text-center">
            <h3 class="h4 text-white-op push-20 visibility-hidden" data-toggle="appear">Please help us maintain our funding by writing a letter of support!</h3>
            <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden"
               data-toggle="appear" data-class="animated bounceIn" href="http://bioviz.org/igb/support.html">Write Letter of Support</a>
        </div>
        <!-- END Section Content -->
    </section>
</div>