<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus"> <!--<![endif]-->

{% include head.html %}

<body>
<div id="page-container" class="header-navbar-fixed header-navbar-transparent">
    {% include header.html %}


    <div id="page-container" class="side-scroll header-navbar-fixed header-navbar-transparent">

        {% include mobile-header.html %}

        <main id="main-container">
            <!-- Classic Content -->
            <section class="content content-boxed">
                <!-- Section Content -->
                <div class="push-50-t push-50">
                    <div class="row">
                        <div class="col-md-3">
                            {% include side-navigation.html %}
                        </div>
                        <div class="col-md-9">
                            {{ content }}
                        </div>

                    </div>
                </div>
                <!-- END Section Content -->
            </section>
            <!-- END Classic Content -->

            {% include letter-of-support.html %}
        </main>


    </div>

    {% include footer.html %}
</div>
</body>

</html>